.layout-padrao
    position relative
    height 100%
    min-width 1200px
    background-image linear-gradient(90deg, #ffffff 50%, #000000 50%)
    +below($tablet)
        background-image none
        background black
    .main-nav
    .content
        position absolute
        overflow hidden
        width 50%
        height 100%
        .inner
            position relative
            width 100%
            min-height 100%
    .main-nav
        background white
        left 0
        .inner
            float right
    .content
        background black
        right 0
        .content-wrapper
            height 100%
            overflow-y auto
            color white
        .not-found
            position absolute
            width 240px
            padding 20px
            border 1px solid white
            margin 0
            top 40%
            left 50%
            margin-left -120px
            oxygen 13 bold
            text-transform uppercase
            text-align center

    .main-nav
        h1
            position absolute
            width 226px
            height 58px
            left 50%
            top 45%
            margin -29px 0 0 -113px
            a
                position relative
                display block
                height 100%
                width 100%
                text-indent -9999px
                background $img('logo.png') no-repeat center
        nav
            display block
            position absolute
            width 100%
            bottom 35px
            text-align center
            a
                position relative
                display inline-block
                oxygen 11
                color black
                text-transform uppercase
                text-decoration none
                padding 0 19px 0 0
                transition .3s color ease
                &:after
                    content ""
                    display block
                    position absolute
                    height 11px
                    width 1px
                    top 2px
                    right 7px
                    background #C8C8C8
                &:last-child:after
                    display none
                &:hover
                &.active
                    color #808080
