.layout-blog
    background-image linear-gradient(90deg, #ffffff 50%, #000000 50%)
    min-width 1220px
    height 100%
    +below($tablet)
        background-image none
        background black
    .center
        display table
        table-layout fixed // firefox fix
        width 1200px
        height 100%
        margin 0 auto
        position relative
    .blog-sidebar
        display table-cell
        height 100%
        vertical-align top
        width 318px
        background white
        padding 60px 45px
        h1
            display block
            width 100%
            height 58px
            margin 0
            a
                position relative
                display block
                height 100%
                width 100%
                text-indent -9999px
                background $img('logo.png') no-repeat center
        h2
            padding 0
            margin 70px 0 25px
            line-height 1
            a
                display inline-block
                oxygen 18
                text-transform uppercase
                color #808080
                text-decoration none
                transition color .3s ease
                &:hover
                    color black
        .categorias
            padding 0
            margin 0 0 25px
            list-style-type none
            li
                display block
                position relative
                margin-bottom 2px
                a
                    display inline-block
                    padding-left 10px
                    oxygen 12
                    color #808080
                    text-decoration none
                    transition color .3s ease
                    &:before
                        content "»"
                        position absolute
                        display block
                        left 0
                        oxygen 12
                    &:hover
                    &.active
                        color black
                    &.active
                        oxygen 12 bold
        .datas
            a
                display inline-block
                float left
                clear left
                text-decoration none
                oxygen 11
                color #808080
                transition color .3s ease
                &.ano
                    oxygen 11 bold
                    margin 15px 0 5px
                &.mes
                    text-transform lowercase
                &:hover
                &.active
                    color black
                &.active
                    oxygen 11 bold
    .blog-main
        display table-cell
        width 882px
        height 100%
        vertical-align top
        background black
        color white
        padding 30px 30px 60px
        .not-found
            margin 30px
            width 240px
            padding 20px
            border 1px solid white
            oxygen 13 bold
            text-transform uppercase
            text-align center
        .blog-thumbs
            a
                display block
                position relative
                width 254px
                margin-bottom 30px
                img
                    display block
                    width 100%
                    height auto
                .overlay
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    padding 20px
                    opacity 0
                    transition opacity .3s ease
                    background rgba(0,0,0, .7)
                    text-transform uppercase
                    span.titulo
                        display block
                        border-bottom 1px solid #999999
                        oxygen 14
                        color white
                        padding-bottom 5px
                        line-height 1.3
                    span.info
                        color #999999
                        oxygen 10
                        margin-top 7px
                &:hover .overlay
                    opacity 1
        .pager
            display block
            margin-top 30px
            padding 20px 0 0
            border-top 1px solid #808080
            list-style-type none
            .disabled span
                display none
            li
                display inline-block
                height 16px
                line-height 16px
                position relative
                a
                    oxygen 12
                    color #808080
                    text-decoration none
                    text-transform uppercase
                    transition color .3s ease
                    &:before
                        content ""
                        display block
                        position absolute
                        top 0
                        width 21px
                        height 16px
                        opacity .5
                        transition opacity .3s ease
                    &:hover
                        color white
                        &:before
                            opacity 1
                &:first-child
                    float left
                    a
                        padding-left 30px
                        &:before
                            background $img('seta-branca-esq.png') no-repeat center
                            left 0
                &:last-child
                    float right
                    a
                        padding-right 30px
                        &:before
                            background $img('seta-branca-dir.png') no-repeat center
                            right 0
        .blog-post
            h3
                display block
                border-bottom 1px solid #999999
                oxygen 14
                color white
                padding-bottom 5px
                margin 0
                text-transform uppercase
                line-height 1.3
            .info
                display block
                text-transform uppercase
                color #999999
                oxygen 10
                margin-top 7px
                clearfix()
                a
                    color #999999
                    transition color .3s ease
                    text-decoration none
                    &:hover
                        color white
                .left
                    float left
                .right
                    float right
            .texto
                margin 30px 0 70px
                oxygen 12
                line-height 2
                color white
                img
                    display block
                    max-width 100%
                    height auto
                    margin 30px 0
                .embeddedContent
                    width 100%
                    max-width 100%
                    position relative
                    padding-bottom 56.25%
                    margin 30px 0
                    overflow hidden
                    height 0
                    iframe
                        position: absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
            #comentarios
                h5
                    border-bottom 1px solid #808080
                    padding-bottom 5px
                    oxygen 14
                    margin 0
                    color #808080
                form
                    margin-top 15px
                    input
                    textarea
                        oxygen 12
                        width 100%
                        background transparent
                        border 0
                        border-bottom 1px solid #999999
                        outline 0
                        color white
                        margin-bottom 15px
                        padding-bottom 3px
                    textarea
                        resize none
                        height 130px
                    input[type=submit]
                        width auto
                        border 0
                        margin-bottom 0
                    p
                        oxygen 10
                        color #808080
                        margin 10px 0 20px
                    #form-resposta
                        display none
                        width 100%
                        height 30px
                        background white
                        line-height 30px
                        oxygen 11
                        color black
                        text-align center
                        text-transform uppercase
                .comentarios-lista
                    list-style-type none
                    padding 0
                    oxygen 12
                    color #999999
                    &:after
                    li:before
                        content "....."
                        display block
                        padding 25px 0
                        oxygen 12
                        color #808080
                    .autor
                        display block
                        text-transform uppercase
                        margin-bottom 3px
            #topo
                oxygen 12
                display inline-block
                position relative
                height 15px
                line-height 15px
                margin 20px 0
                color #808080
                text-decoration none
                text-transform uppercase
                transition color .3s ease
                padding-left 30px
                &:before
                    content ""
                    display block
                    position absolute
                    top 0
                    width 21px
                    height 15px
                    opacity .5
                    transition opacity .3s ease
                    background $img('seta-branca-topo.png') no-repeat center
                    left 0
                &:hover
                    color white
                    &:before
                        opacity 1
            .paginacao
                display block
                padding 20px 0 0
                border-top 1px solid #808080
                list-style-type none
                a
                    position relative
                    display inline-block
                    height 16px
                    line-height 16px
                    oxygen 12
                    color #808080
                    text-decoration none
                    text-transform uppercase
                    transition color .3s ease
                    &:before
                        content ""
                        display block
                        position absolute
                        top 0
                        width 21px
                        height 16px
                        opacity .5
                        transition opacity .3s ease
                    &:hover
                        color white
                        &:before
                            opacity 1
                    &.prev
                        float left
                        padding-left 30px
                        &:before
                            background $img('seta-branca-esq.png') no-repeat center
                            left 0
                    &.next
                        float right
                        padding-right 30px
                        &:before
                            background $img('seta-branca-dir.png') no-repeat center
                            right 0
