.inner.contato
    padding 35px
    clearfix()
    h2
        padding 0
        margin 0 0 35px
        oxygen 12
        text-transform uppercase
    form
        width 50%
        float left
        input
        textarea
            oxygen 12
            width 100%
            background transparent
            border 0
            border-bottom 1px solid white
            outline 0
            color white
            margin-bottom 15px
            padding-bottom 3px
        textarea
            resize none
            height 130px
        input[type=submit]
            width auto
            border 0
        #form-resposta-wrapper
            width 100%
            height 30px
            #form-resposta
                display none
                width 100%
                height 30px
                background white
                line-height 30px
                oxygen 11
                color black
                text-align center
                text-transform uppercase
    .info
        width 40%
        float right
        .email
            position relative
            color white
            oxygen 12
            padding-left 25px
            display block
            height 13px
            line-height 13px
            text-decoration none
            &:before
                content ""
                display block
                width 17px
                height 13px
                position absolute
                top 0
                left 0
                background $img('icone-email.png') no-repeat center
        .telefone
            display block
            oxygen 12
            margin 5px 0 20px
        .assessoria
            display block
            text-decoration none
            color white
            oxygen 12
            margin-top 50px
            span
                position relative
                padding-left 25px
                display block
                height 13px
                line-height 13px
                margin-bottom 5px
                text-decoration none
                &:before
                    content ""
                    display block
                    width 17px
                    height 13px
                    position absolute
                    top 0
                    left 0
                    background $img('icone-email.png') no-repeat center
    .creditos
        clear both
        float left
        width 100%
        margin 30px 0
        border-top 1px solid #808080
        padding-top 15px
        oxygen 11
        span
            color #808080
            text-transform uppercase
        p
            margin 5px 0
            color #808080
            a
                color #808080
                transition color .3s ease
                text-decoration none
                &:hover
                    color white
