.inner.home
    padding 0
    .social
        position absolute
        height 17px
        width 80px
        bottom 35px
        left 30px
.social
    padding 0
    margin 0
    list-style-type none
    clearfix()
    a
        float left
        display block
        height 17px
        width 17px
        text-indent -9999px
        &.facebook
            background $img('facebook.png') no-repeat center
            margin-right 10px
        &.instagram
            background $img('instagram.png') no-repeat center
