.imprensa
    padding 5%
    height auto
    clearfix()
    .thumb
        position relative
        display block
        width 19%
        margin-right 1%
        margin-bottom 1%
        float left
        img
            width 100%
            display block
            height auto
        .overlay
            text-align center
            opacity 0
            transition opacity .3s ease
            position absolute
            width 100%
            height 100%
            background rgba(0,0,0, .7)
            color white
            top 0
            left 0
            &:before
                content ""
                display inline-block
                height 100%
                vertical-align middle
            span
                width 80%
                display inline-block
                vertical-align middle
                oxygen 12
                text-transform uppercase
        &:hover
            .overlay
                opacity 1
