.inner.perfil
    .perfil-seta
        display block
        position absolute
        left 30px
        top 43%
        margin-top -8px
        z-index 10
        text-indent -9999px
        width 21px
        height 16px
        background $img('seta-branca-dir.png') no-repeat center
        transition transform .5s ease
        &.active
            transform rotate(180deg)
    .imagem
        display block
        position absolute
        width 100%
        height 100%
        bottom 0
        left 0
        background-size cover
        background-position center
        background-repeat no-repeat
    .texto
        display none
        position relative
        overflow visible
        padding 50px 90px
        p
            margin-top 0
            margin-bottom 15px
            oxygen 14
            line-height 1.8
