.decor
.cenografia
.produtos
    padding 1px
    height auto
    clearfix()
    .thumb
        position relative
        display block
        width 25%
        border 1px solid black
        float left
        img
            width 100%
            display block
            height auto
        .overlay
            text-align left
            opacity 0
            transition opacity .3s ease
            position absolute
            width 85%
            height 85%
            margin 7.5%
            padding 7.5%
            background black
            color white
            top 0
            left 0
            span
                display inline-block
                vertical-align middle
                oxygen 12
        &:hover
            .overlay
                opacity 1

.layout-projeto
    position relative
    background black
    height 100%
    min-width 1100px
    min-height 574px
    .navbar
        position absolute
        background white
        height 100%
        left 0
        top 0
        width 40px
        float left
        .voltar
            display block
            width 20px
            height 20px
            position absolute
            text-indent -9999px
            background $img('menu.png') no-repeat center
            left 10px
            top 13px
        .carousel-controler
            display block
            width 17px
            height 15px
            position absolute
            text-indent -9999px
            left 12px
            &#carousel-prev
                bottom 30px
                background $img('seta-preta-baixo.png') no-repeat center
            &#carousel-next
                top 65px
                background $img('seta-preta-cima.png') no-repeat center
    .carousel-wrap
        position absolute
        height 100%
        width 145px
        left 40px
        top 0
        float left
        overflow hidden
        .carousel
            border 1px solid black
            a
                display block
                position relative !important
                width 145px
                height 145px
                border 1px solid black
                img
                    display block
                    width 100%
                    height auto
                .overlay
                    text-align left
                    opacity 0
                    transition opacity .3s ease
                    position absolute
                    width 85%
                    height 85%
                    margin 7.5%
                    padding 7.5%
                    background black
                    color white
                    top 0
                    left 0
                    span
                        display inline-block
                        vertical-align middle
                        oxygen 12
                &:hover
                &.active
                    .overlay
                        opacity 1
    .galeria-wrap
        position relative
        height 100%
        margin-left 185px
        padding 10px 60px 10px 10px
        .galeria
            height 100%
            .galeria-slider
                position relative
                height 100%
                top 0
                left 0
                .slide
                    position absolute
                    width 100%
                    height 100%
                    background-repeat no-repeat
                    background-position left center
                    background-color black
                    &.vertical
                        background-size auto 100%
                    &.horizontal
                        background-size 100% auto
            .galeria-controler
                position absolute
                height 100%
                top 0
                text-indent -9999px
                z-index 99999
                &#galeria-prev
                    left 0
                    width 20%
                &#galeria-next
                    right 0
                    width 80%
                    &:after
                        content ""
                        display block
                        position absolute
                        width 21px
                        height 16px
                        right 20px
                        top 50%
                        background $img('seta-branca-dir.png') no-repeat center
